<div *ngIf="claims" class="cont">
    <div class="card">
        <div class="card-header text-center bg-dark bg-gradient text-light">
            <h3>Rol Yönetimi</h3>
            ({{claims.length}} rol listelendi)
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item bg-warning bg-gradient text-center">
                    <div class="row align-items-center">
                        <div class="col-md-1">
                            <strong>ID</strong>
                        </div>
                        <div class="col-md-8">
                            <strong>Rol Adı</strong>
                        </div>
                        <div class="col-md-3">
                            <button (click)="showClaimAddModal()" type="button" class="btn btn-success float-end">
                                Rol ekle
                            </button>
                        </div>
                    </div>
                </li>
                <li *ngFor="let claim of claims" class="list-group-item list-group-item-action text-center">
                    <div class="row align-items-center">
                        <div class="col-md-1">
                            {{claim.id}}
                        </div>
                        <div class="col-md-8">
                            {{claim.name}}
                        </div>
                        <div class="col-md-3">
                            <div class="btn-group float-end">
                                <button (click)="showClaimUpdateModal(claim)"  type="button" class="btn btn-dark px-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path
                                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                        <path fill-rule="evenodd"
                                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                    </svg>
                                </button>
                            </div>
                            <div class="col-md-3">
                                <div class="btn-group float-end">
                                    <button  (click)="getdata(claim)" type="button" class="btn btn-danger px-3" data-bs-toggle="modal" data-bs-target="#roleDelete"> 
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eraser" viewBox="0 0 16 16">
                                            <path d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828l6.879-6.879zm2.121.707a1 1 0 0 0-1.414 0L4.16 7.547l5.293 5.293 4.633-4.633a1 1 0 0 0 0-1.414l-3.879-3.879zM8.746 13.547 3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293l.16-.16z"/>
                                          </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div *ngIf="claims" class="modal fade" id="roleDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">Aşğıdaki veriyi gerçekten silmek istiyor musunuz?</h3>
          <button type="button"  class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <h1>{{currentClaim.name}}</h1>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
          <button (click)="deleteClaim(currentClaim)" data-bs-dismiss="modal" type="button" class="btn btn-primary">Sil</button>
        </div>
      </div>
    </div>
  </div>