<body class="text-center account-page">
  <main class="form-account account-card">
    <div class="card-body">
      <div class="logo" style="font-size: 40px">
        <span>ReCap</span><span><span>Project</span></span>
      </div>
      <hr class="solid" />
      <form [formGroup]="loginForm" class="mt-4">
        <div *ngIf="rememberedEmail">
          <div *ngIf="rememberedEmail != null">
            <h3>
              Hoşgeldiniz
              <span>{{ rememberedEmail }}</span>
            </h3>
          </div>
        </div>

        <div *ngIf="!rememberedEmail">
          <div class="form-floating mb-2">
            <input
              formControlName="email"
              type="email"
              class="form-control"
              id="signinemail"
              placeholder="name@example.com"
            />
            <label for="signinemail">E-posta adresi</label>
          </div>
        </div>

        <div class="form-floating">
          <input
            formControlName="password"
            type="password"
            class="form-control"
            id="signinpassword"
            placeholder="password"
          />
          <label for="signinpassword">Parola</label>
        </div>

        <div class="checkbox mb-3 mt-3 ">
          <label *ngIf="!rememberedEmail">
            <input
              type="checkbox"
              value="remember-me"
              [(ngModel)]="rememberMe"
              [ngModelOptions]="{ standalone: true }"
            />
            E-postamı hatırla
          </label>
          <a
            *ngIf="rememberedEmail"
            (click)="deleteRememberedEmail()"
            href="account/login"
            >Farklı bir hesapla oturum aç</a
          >
        </div>
        <button (click)="login()" class="w-100 btn btn-lg btn-primary">
          <strong>GİRİŞ YAP</strong>
        </button>
        <br />
        <br />
        <div class="text">
          Henüz kayıt olmadın mı?
          <a routerLink="/account/register">Hemen üye ol!</a>
        </div>
      </form>
    </div>
  </main>
</body>
