<div class="container">
  <app-navi></app-navi>
  <div class="row">
    <div class="col-md-4">
      <app-brand></app-brand>
      <app-brand-select-option-filter></app-brand-select-option-filter>
      <app-color-select-option-filter></app-color-select-option-filter>
    </div>
    <div class="col-md-8">
      <router-outlet></router-outlet>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <app-color></app-color>
    </div>
    <div class="col-md-8">
      <app-carimage></app-carimage>
    </div>
  </div>
  <hr>
</div>
