  <div class="card">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <h5>Marka ekle</h5>
        </div>
    </div>
    <div class="card-body">
        <form [formGroup]="carAddForm">
            <div class="align-items-center">
                <div class="form-group">
                  <input type="number" id="name" formControlName="modelYear" class="form-control"  placeholder="Model Yılı"
                />
                </div>
            </div>
            <div class="align-items-center">
              <div class="form-group">
                <input type="number" id="dailyPrice"  formControlName="dailyPrice" class="form-control" placeholder="Günlük Ücreti"
                />
              </div>
          </div>
          <div class="align-items-center">
            <div class="form-group">
              <input
                  type="text"  id="name" formControlName="description" class="form-control" placeholder="Açıklama"
                />
            </div>
        </div>
        <div class="align-items-center">
          <div class="form-group">
            <select class="form-select" [(ngModel)]="currentBrandId" 
            formControlName="brandId"
            class="form-control">
              <option value="undefined">Marka Seç</option>
              <option *ngFor="let brand of brands" [value]="brand.id">
                {{ brand.name }}
              </option>
            </select>
          </div>
      </div>
      <div class="align-items-center">
        <div class="form-group">
          <select class="form-select" [(ngModel)]="currentColorId" 
                formControlName="colorId"
                class="form-control">
                  <option value="undefined">Renk Seç</option>
                  <option *ngFor="let color of colors" [value]="color.id">
                    {{ color.name }}
                  </option>
                </select>
        </div>
    </div>
        </form>
        <div class="row mt-3">
            <div class="d-flex justify-content-end">
                <button (click)="add()" type="button" class="btn btn-success me-2">Ekle</button>
                <button (click)="closeBrandAddModal()" type="button" class="btn btn-danger">İptal</button>
            </div>
        </div>
    </div>
  </div>