<div *ngIf="cars" class="cont">
    <div class="card">
        <div class="card-header text-center bg-dark bg-gradient text-light">
            <h3>Araç Yönetimi</h3>
            ({{cars.length}} araç listelendi)
        </div>
        <div class="card-body table-responsive">
            <table class="table align-middle">
                <thead>
                    <tr class="bg-warning bg-gradient text-center">
                        <th scope="col">ID</th>
                        <th scope="col"></th>
                        <th scope="col">Marka</th>
                        <th scope="col">Renk</th>
                        <th scope="col">Model Yılı</th>
                        <th scope="col">Günlük Ücreti</th>
                        <th scope="col">Açıklama</th>
                        <th scope="col"><button (click)="showCarAddModal()" type="button"
                            class="btn btn-success float-end px-3">Araç ekle</button></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let car of cars" class="text-center">
                        <td><strong>{{car.id}}</strong></td>
                        <td><img [src]="getImagePath(car.carImages[0].imagePath)" height="50"></td>
                        <td>{{car.brandName}}</td>
                        <td>{{car.colorName}}</td>
                        <td>{{car.modelYear}}</td>
                        <td>{{car.dailyPrice}}</td>
                        <td>{{car.description}}</td>
                        <td>
                            <button (click)="showCarUpdateModal(car)" type="button" class="btn btn-primary px-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                  </svg>
                            </button>
                            <button (click)="showCarDeleteModal(car)" type="button" class="btn btn-danger px-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eraser" viewBox="0 0 16 16">
                                    <path d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828l6.879-6.879zm2.121.707a1 1 0 0 0-1.414 0L4.16 7.547l5.293 5.293 4.633-4.633a1 1 0 0 0 0-1.414l-3.879-3.879zM8.746 13.547 3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293l.16-.16z"/>
                                  </svg>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>