<div class="mb-3">
  <label for="filterText" class="form-label">Araç Ara</label>
  <input
    type="text"
    [(ngModel)]="filterText"
    class="form-control"
    id="filterText"
    placeholder="arama ifadesini giriniz"
  />
</div>
<div *ngIf="filterText" class="alert alert-success">
  {{filterText}} aradınız
</div>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Model Year</th>
        <th scope="col">Daily Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cbrand of cbrands | brandFilter:filterText ">
        <td>{{ cbrand.id }}</td>
        <td>{{ cbrand.carName }}</td>
        <td>{{ cbrand.carModelYear }}</td>
        <td>{{ cbrand.carDailyPrice }}</td>
      </tr>
    </tbody>
  </table>
