<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">Roller</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <table class="table table-striped table-hover table-bordered table-primary ">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Ad</th>
                  <th scope="col">Soyad</th>
                  <th scope="col">Rol</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of userClaim">
                  <th scope="row">{{user.userId}}</th>
                  <td>{{user.userFirstName}}</td>
                  <td>{{user.userLastName}}</td>
                  <td>{{user.claimName}}</td>
                </tr>
              </tbody>
            </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
        <button type="button" class="btn btn-primary" (click)="deneme()">Değişikliği Kaydet</button>
      </div>
    </div>
  </div>
</div>