
<table class="table table-success table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Customer Surname</th>
        <th scope="col">Customer Mail</th>
        <th scope="col">Company</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers">
        <td>{{ customer.id }}</td>
        <td>{{ customer.customerName }}</td>
        <td>{{ customer.customerSurName }}</td>
        <td>{{ customer.customerMail }}</td>
        <td>{{ customer.company }}</td>
      </tr>
    </tbody>
  </table>